<header>
  <!-- MAIN CONTAINER + BG-PIC -->
  <div class="header-container">
    <div class="bg-pic">
      <!-- LOGO -->
      <svg width="69" height="55" class="logo-icon">
        <use href="./images/icons/main-sprite.svg#icon-Logo"></use>
      </svg>
      <button
        type="button"
        class="menu-button"
        data-menu-button
        aria-expanded="false"
        aria-label="Переключатель мобильного меню"
      >
        <svg width="24" height="16">
          <use
            class="menu-icon"
            href="./images/icons/main-sprite.svg#icon-menu_24px"
          ></use>
          <use
            class="menu-close"
            href="./images/icons/main-sprite.svg#icon-close_24px"
          ></use>
        </svg>
      </button>
      <!-- HIDDEN MENU BLOCK -->
      <div class="main-menu" data-menu>
        <nav id="menu">
          <ul class="menu-list">
            <li><a href="#first">О нас</a></li>
            <li><a href="#second">Услуги и цены</a></li>
            <li><a href="#third">Мастера</a></li>
            <li><a href="#fourth">Контакты</a></li>
          </ul>
        </nav>
        <address>
          <a href="tel:+380441111111">+38 044 111 11 11</a>
          
          <a href="#record">
          <button type="button" class="header-button"  >ОНЛАЙН-ЗАПИСЬ</button>
        </a>

          <!-- <a href="./partials/register.html#record">
          <button type="button" class="header-button"  >РЕГИСТРАЦИЯ</button>
          </a> -->
          
          <button onclick="myOnClickFn()" type="button" class="header-button"  >РЕГИСТРАЦИЯ</button>
          <script>
            function myOnClickFn() {
              document.location.href="./partials/register.html#record"
            }
          </script>
        </address>
        <ul class="soc-networks">
          <li class="soc-list"><a href="https://www.instagram.com/frisorworkshop/?hl=uk" lang="en">Instagram</a></li>
          <li><a href="#" lang="en">Youtube</a></li>
        </ul>
      </div>
      <!-- TITLES -->
      <div class="hero">
        <h1 lang="en">A HAIR SALON FOR MEN IN KYIV</h1>
        <div class="title-container">
          <h2 lang="en">BarberShop</h2>
          <div class="sliders-container">
            <span class="image-number is-check"></span>
            <span class="image-number"></span>
            <span class="image-number"></span>
          </div>
        </div>
        <p>
          Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
          вкусом.
        </p>
        <div class="buttons-cont">
          <button type="button" class="back siema-buttons-prev">Назад</button>
          <button type="button" class="forward siema-buttons-next">
            Вперед
          </button>
        </div>
      </div>
    </div>
  </div>

</header>
