<form class="footer container form" autocomplete="off">
    <h2 class="title">Онлайн-запись</h2>
    <div class="group">
      <div class="data-send">
        <label class="form-field"
          ><input
            class="form-text form-name"
            type="text"
            name="name"
            placeholder=" "
          />
          <span class="form-label"> Имя&#42;</span>
        </label>

        <label class="form-field"
          ><input
            class="form-text form-tel"
            type="tel"
            name="tel"
            placeholder=" "
          />
          <span class="form-label"> Телефон&#42;</span>
        </label>
      </div>

      <label class="comment">
        <textarea
          class="form-text form-comment"
          name="comment"
          maxlength="135"
          placeholder=" "
        ></textarea>
        <span class="form-label">сообщение</span>
      </label>
    </div>
    <button type="button" class="button button-secondary">
      отправить
    </button>
  </form>